* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Press Start 2P', cursive;
  background-color: #222;
  color: #fff;
}

.header {
  position: relative;
  width: 100%;
  height: 40vh;
  border-bottom: 10px solid #fff;
}

.ctn {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.btn {
  width: auto;
  padding: 1rem 1rem;
  border: none;

  font-size: 1.5rem;
  font-family: inherit;
}

.btn:hover {
  background-color: lightgray;
}

.heading {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 3.5rem;
}

.guess {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 12rem;
  padding: 2rem 0;
  transform: translate(-50%, 50%);

  text-align: center;
  font-size: 4rem;
  color: #333;
  background-color: #eee;
}

.main {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 60vh;
}

.form {
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 15rem;
  margin-bottom: 2rem;
  padding: 1.9rem;
  border: none;
  outline: 0.2rem solid #fff;

  text-align: center;
  font-size: 3.5rem;
  font-family: inherit;
  background-color: #222;
  color: inherit;
}

.ctn-start {
  width: auto;
  display: flex;
  flex-direction: column;
}

.ctn-start__heading {
  margin-bottom: 4rem;
  font-weight: lighter;
}

.ctn-start__score::before {
  content: '💯 Score: ';
}

.ctn-start__highscore::before {
  content: '🥇 Highscore: ';
}
